.tarea-formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tarea-input {
  width: 350px;
  font-size: 18px;
  background-color: white;
  padding: 18px 32px 14px 18px;
  margin: 4px 0 0 4px;
  border: 2px solid black;
  outline: none;
}

.tarea-boton {
  padding: 16px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #fce4ec  ;
  color: black;
  text-transform: capitalize;
}